header{
    height: 51.6vh;
}

.headerImgTitle{
    margin:  0 .3rem;
    background: url(../assets/design1_image1.jpg);
    background-position: 0 -9rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.headerImgTitle h2{
    font-family: 'Staatliches', cursive;
    font-size: 12vh;

}

.tituloLogo{
    position: relative;
    margin: .3rem;
    background-color: black;
    height: 6.6vh;
}

.tituloLogo h3{
    font-family: 'Staatliches', cursive;
    font-size: 2.1rem;
    color: white;
    text-align: center;
    margin: .3rem;
    padding: .3rem 0;

}

.logo {
    left: 80%;
    position: absolute;
    width: 10%;
    top: -100%;
    background-color: rgb(215, 215, 215);
    border: 5px solid white;
}

.navContainer {
    display: inline-block;
    margin: 0.3rem 0.3rem 0;
    width: 18vw;
    position: absolute;
    top: 36%;
}
nav a{
    display: block;
    padding: 1.5rem;
    margin: .3rem 0;
    font-family: 'Staatliches', cursive;
    font-size: 2.1rem;
    color: black;
}

.active{
    text-decoration: none;
}

.content {
    display: inline-block;
    height: 36vh;
    width: 75vw;
    margin: 0;
    position: absolute;
    left: 25%;
    top: 39%;
}

.content li{
    margin: 0 0 2.1rem 0;
}

.content h3, content li{
    font-family: 'Staatliches', cursive;
    font-size: 1.2rem;
}

li h3, li p{
    font-family: 'Staatliches', cursive;
    font-size: 1.2rem;
}

p{
    font-family: 'Staatliches', cursive;
}

